/* Universal code start */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: arial, sans-serif;
}
body{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
/* Universal code end */

/* navbar section start */

/* navbar section end */